name: vitalwatch
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_maps_flutter: ^2.5.0
  geolocator: ^10.1.0
  shared_preferences: ^2.2.2
  http: ^1.1.0
  flutter_launcher_icons: ^0.13.1
  firebase_core: ^3.1.1
  cloud_functions: ^5.0.3
  cloud_firestore: ^5.0.3
  flutter_staggered_animations: ^1.1.1
  intl: ^0.19.0
  sensors_plus: ^5.0.1
  audioplayers: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true
  assets:
    - assets/sounds/
